body {
    margin: 0px;
    background-color: #000000;
}
/* index.html*/
div.maincontainer {
    width: 90%;
    position: relative;
    margin: 0px auto;
}
div.maincontainer header {
    background-color: #2c2e31;
    height: 70px;
    position: fixed;
    width: 90%;
    top: 0px;
    z-index: 100;
}
div.maincontainer header nav ul {
    list-style-type: none;
    margin: 0px;
}
div.maincontainer header nav ul li {
    display: inline-block;
    border: 1px solid #2c2e31;
    width: 100px;
    padding: 10px 0px;
    text-align: center;
    background-color: #2c2e31;
    cursor: pointer;
    padding-top: 25px;
}
div.maincontainer header nav ul li:first-child {
    padding: 0px;
    border: none;
    position: relative;
}
div.maincontainer header nav ul li img {
    height: 40px;
    position: absolute;
    top: -25px;
}
div.maincontainer header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 10px;
}
div.maincontainer header nav ul li p a:hover {
    color: #2c2e31;
}
div.maincontainer header nav ul li:hover>a {
    color: #2c2e31;
    background-color: white;
    border: 1px solid white;
}
div.maincontainer main {
    margin-top: 100px;
}
div.maincontainer main div.subcontainer div.fotocontainer {
    margin: 0px auto;
}
div.maincontainer main div.subcontainer div.fotocontainer img {
    border-radius: 50%;
    border: 1px solid black;
    display: block;
    margin: auto;
}
div.maincontainer main div.subcontainer div.textcontainer {
    text-align: center;
    margin-top: 50px;
    position: relative;
    height: 100px;
}
div.maincontainer main div.subcontainer div.textcontainer div.container {
    text-align: center;
    margin-top: 50px;
}
div.maincontainer main div.subcontainer div.textcontainer div.container {
    position: absolute;
    margin: 0px auto;
    height: auto;
    left: 25%;
    right: 25%;
    display: none;
}
div.maincontainer main div.subcontainer div.textcontainer div.name {
    display: inline;
}
div.maincontainer main div.subcontainer div.textcontainer * {
    height: 50px;
    margin: 0px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
div.maincontainer main div.subcontainer div.iconcontainer ul li {
    background-image: url(../IMG/icon.png);
    width: 40px;
    height: 48px;
    cursor: pointer;
    margin: 20px;
    float: left;
    background-size: 378px;
    background-position-y: -48px;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#name {
    background-position: 0px -48px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#name:hover {
    background-position: 0px -96px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#mail {
    background-position: -68px -48px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#mail:hover {
    background-position: -68px -96px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#bday {
    background-position: -135px -48px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#bday:hover {
    background-position: -135px -96px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#address {
    background-position: -203px -48px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#address:hover {
    background-position: -203px -96px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#telephone {
    background-position: -270px -48px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#telephone:hover {
    background-position: -270px -96px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#password {
    background-position: -338px -48px;
}
div.maincontainer main div.subcontainer div.iconcontainer ul li#password:hover {
    background-position: -338px -96px;
}
div.maincontainer main div.subcontainer div.socialcontainer {
    margin: 0 auto;
    margin-top: 10%;
    background-color: white;
    float:right;
    position:relative;
    width: 100%;
    text-align:left;
}
div.maincontainer main div.subcontainer div.socialcontainer h1 {
    color: #2c2e31;
    margin: 0px;
    text-align: center;
    left: 0%;
    margin-bottom: 10px;
}
div.maincontainer main div.subcontainer div.socialcontainer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: max-content;
    background-color: white;
}
div.maincontainer main div.subcontainer div.socialcontainer ul li {
    cursor: pointer;
    position: relative;
    float: left;
    background-color: white;
}
div.maincontainer main div.subcontainer div.socialcontainer ul li img {
    width: 40px;
    padding: 20px;
    background-color: #2c2e31;
}
div.maincontainer main div.subcontainer div.socialcontainer ul li img:hover {
    background-color: white;
}
div.maincontainer main div.subcontainer div.socialcontainer ul li#facebook img:hover {
    content:url("../IMG/social/facebookblack.png");
}
div.maincontainer main div.subcontainer div.socialcontainer ul li#googleplus img:hover {
    content:url("../IMG/social/google+black.png");
}
div.maincontainer main div.subcontainer div.socialcontainer ul li#instagram img:hover {
    content:url("../IMG/social/instagramblack.png");
}
div.maincontainer main div.subcontainer div.socialcontainer ul li#linkedin img:hover {
    content:url("../IMG/social/linkedinblack.png");
}
div.maincontainer main div.subcontainer div.socialcontainer ul li#pinterest img:hover {
    content:url("../IMG/social/pinterestblack.png");
}
div.maincontainer main div.subcontainer div.socialcontainer ul li#tumblr img:hover {
    content:url("../IMG/social/tumblrblack.png");
}
div.maincontainer main div.subcontainer div.socialcontainer ul li#twitter img:hover {
    content:url("../IMG/social/twitterblack.png");
}
div.maincontainer main div.subcontainer div.socialcontainer ul li#youtube img:hover {
    content:url("../IMG/social/youtubeblack.png");
}
/* newuser.html */
div.maincontainer main div.subcontainer input, div.maincontainer main div.subcontainer textarea {
    width: 80%;
    float: right;
}
div.maincontainer main div.subcontainer input.button {
    margin-top: 120px;
    width: 10%;
    float: left;
    padding: 5px;
    border-radius: 20%;
    border: 1px solid black;
    background-color: black;
    color: cornflowerblue;
    margin-left: 10px;
}
div.maincontainer main div.subcontainer input.button:hover {
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: black;
}
div.maincontainer main div.subcontainer input.button:last-child {
    margin-top: 18px;
}
div.maincontainer main div.subcontainer textarea {
    resize: none;
}